// Place all the styles related to the front controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.colorred {
  color: red;
}

.navlink {
  color: white;
  font-weight: bold;
}

.muted a {
  @extend .colorred;
  font-weight: bold;
}

.span4 {
  width: 40%;
}

.span6 {
  width: 60%;
}

.span7 {
  width: 70%;
}

.span8 {
  width: 80%;
}

.span12 {
  margin: 15px;
}

.loginbox {
  float: right;
  font-size: 50%;
  line-height: 30px;  
}

.navbar {
  overflow: visible;
  margin-bottom: 20px;
  *position: relative;
  *z-index: 2;
}

.navbar-inner, .uldropdown {
  min-height: 40px;
  /* padding-left: 20px; */
  /* padding-right: 20px; */
  background-color: #fafafa;
  background-image: -moz-linear-gradient(top, #FF0000, #D83030);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FF0000), to(#D83030));
  background-image: -webkit-linear-gradient(top, #FF0000, #D83030);
  background-image: -o-linear-gradient(top, #FF0000, #D83030);
  background-image: linear-gradient(to bottom, #FF0000, #D83030);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF0000', endColorstr='#D83030', GradientType=0);
  border: 1px solid #d4d4d4;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  /* border-radius: 4px; */
  /* -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065); */
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  *zoom: 1;
}

.uldropdown {
  min-width: 90px;
  li a {
    padding-left: 8px;
    color: white
  }
}

ul.nav li, ul.uldropdown li {
  a {
    @extend .navlink;

    padding-right: 0px;
    font-size: 110%;
  }
  a:hover {
    color: white;
    background-color: transparent;
  }
}

ul.nav > li {
  float: left;
}

li.dropdown {  
  a {
    padding-left: 2px;
  }

  a:hover {
    color: white;
    background-color: transparent;
  }
}

