// Place all the styles related to the front controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.colorred {
  color: red;
}

.muted a {
  @extend .colorred;
  font-weight: bold;
}

.loginbox {
  float: right;
  font-size: 50%;
  line-height: 30px;  
}